<!DOCTYPE html>
<html lang="en">

<head>
    <title>TradePages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/countdowntime/flipclock.css">
    <link rel="stylesheet" href="css/customhtml.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="images/">
    <!--===============================================================================================-->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header style="margin:10%;">
                    <img src="images/logo.png">
                    <p>a platform where tradesmen find quality jobs online</p>

                </header>

            </div>
        </div>
    </div>

    <div class="bg-img1 size1 overlay1 p-b-35 p-l-15 p-r-15" style=" margin-left:8%; ">
        <div class="flex-col-c p-t-160 p-b-215 respon1">


            <div class="cd100"></div>

        </div>

        <!--  -->

    </div>

    <section class="our_feature_area container-fluid" style="margin-top: 0%;">
        <div class="container-fluid">

            <div class="feature_row row">

                <div  style="width: 36%;" >
                    <div id="text-section">
                        <p>Welcome to Trade Pages Australia – a platform where tradesmen find quality jobs and
                            consumers connect with trust worthy and qualified tradesmen. Get registered today and enjoy
                            three months membership free of charge. Consistent supply of quality leads and goodbye to
                            dry spells. Have your dedicated profile page and show your skills to your customers. A
                            great opportunity to take your business to next level. </p>
                        <div>
                            <div id="Package_1">
                                <image src="images/Package.png" alt="Package one"></image>
                                <p style="text-align:left">
                                    Unlimited<br> Lead Access
                                </p>
                            </div>
                            <div id="Package_2">
                                <image src="images/Package01.png" alt="Package one"></image>
                                <p style="text-align:left">
                                    $99 Per Month
                                </p>
                            </div>
                            <div id="Package_3">
                                <image src="images/package02.png" alt="Package one"></image>
                                <p style="text-align:left">
                                    Months Free
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-left: 20%;" >

                    <fieldset class="rui-field-group" style="border-radius: 8%;  background-color:#f8f8f8">
                            <h4 style="margin-left: 18%; margin-top:6%;" >Register your business</h4>

                        <form action="/" method="POST" class="rui-form rui-form-compact" id="signinForm" autocomplete="off">

                            <div class="form-group">

                                <input type="text"  style="margin-top: 3%; width: 50%; margin-left:20%;" class="form-control" id="email" placeholder="Enter Username" name="P_USER"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="pwd"  style="margin-top: 3%; width: 50%; margin-left:20%;" placeholder="Enter Email" name="P_EMAIL"
                                    required>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-danger"  style="margin-top: 3%; width: 50%; margin-left:20%;background-color: #e61d23" id="account_btn"> Create Account</button>
                            </div>
                        </form>
                        <hr>
                        <div>
                            <p  style="margin-top: 3%; width: 50%; margin-left:25%;">Already have account?</p>
                            <button type="submit" class="btn btn-danger"  style="margin-top: 3%; width: 50%; margin-left:20%;background-color: #e61d23" id="account_btn"><a style="color: white" href="/login">login</a></button>
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
    <footer style="   background:repeating-linear-gradient( -40deg, #444d56 0px, #444d56 8px, #353e48 2px, #353e48 10px, #444d56 0.5px);
    width: 100%;
        height:400px;
        z-index: -100;
        position: absolute;">


        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row col-md-12">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 ">

                    <!-- Content -->
                    <img src="images/Footer_logo.png" alt="" style="
                    width: 230px;
                    height: 60px;">
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; ">
                    <p id="footer-text" style="color: white">Welcome to Trade Pages Australia – a platform where
                        tradesmen find quality jobs and consumers connect with trust worthy and qualified tradesmen.
                        Get registered today and enjoy three months membership free of charge. Consistent supply of
                        quality leads and goodbye to dry spells. Have your dedicated profile page and show your skills
                        to your customers. A great opportunity to take your business to next level. </p>

                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3  mx-auto mb-md-0 mb-4" style="margin-left: 15%;">

                    <!-- Links -->
                    <h6 class="text-uppercase " style="color: white" >Contact US</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p style="color: white">
                        <i class="fa fa-home mr-2"></i>level 18, 101 Collins Street Melbourne Vic 3000</p>
                    <p style="color: white">
                        <i class="fa fa-envelope mr-3"></i> contact@tradepage.com</p>
                    <p style="color: white">
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                </div>


                <!-- Grid column -->
                <div class="col-md-3">

                    <!-- Links -->
                    <h6 class="text-uppercase " style="color: white">Follow us</h6>

                    <div class="Social_Icon"><a href="https://www.facebook.com/TradePages-Australia-289172451704713/"><i class="fab fa-facebook" style="color: white"></i></a>
                     <a href="https://twitter.com/TradePagesAU">   <i class="fab fa-twitter" style="color: white"> </i></a>
                     <a href="https://www.instagram.com/tradepagesau/">    <i class="fab fa-instagram" style="color: white"></i></a>
                     <a href="https://www.youtube.com/channel/UCHGKPeqLbgpGApRdkhRt9vg?view_as=subscriber">    <i class="fab fa-youtube" style="color: white" ></i> </a>
                    </div>

                </div>
            </div>

            <div  class="col-md-4" id="copy_right" style="margin-top:3% ;   margin-left: 27%;" >
                    <div id="trapezoid">
                        <p>Copyright 2018 <span>TRADEPAGES </span>All Right Reserved</p>
                        </div>    
                </div>
        </div>

        </div>


        </div>

    </footer>


    <!--==============================azhar new=================================================================-->
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/flipclock.min.js"></script>
    <script src="vendor/countdowntime/moment.min.js"></script>
    <script src="vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script>
        $('.cd100').countdown100({
            /*Set Endtime here*/
            /*Endtime must be > current time*/
            endtimeYear: 0,
            endtimeMonth: 0,
            endtimeDate: 35,
            endtimeHours: 18,
            endtimeMinutes: 0,
            endtimeSeconds: 0,
            timeZone: ""
            // ex:  timeZone: "America/New_York"
            //go to " http://momentjs.com/timezone/ " to get timezone
        });
    </script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>