<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Fontawesome CDN link-->
    <link rel="stylesheet" type="text/css" href="vendor/countdowntime/flipclock.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" href="css/customhtml.css">
    <link rel="stylesheet"  href="css/normalize.css">

    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
   
    <script src="js/plugins.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script  src="js/modernizr-3.6.0.min.js" ></script>
    <script src="vendor/jquery-3.3.1.min.js"></script>
    <script src="vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/CountDown.js"></script>
    <script src="js/CountDownFinal.js"></script>
    <script>
        $('.cd100').countdown100({
          /*Set Endtime here*/
          /*Endtime must be > current time*/
          endtimeYear: 0,
          endtimeMonth: 0,
          endtimeDate: 35,
          endtimeHours: 18,
          endtimeMinutes: 0,
          endtimeSeconds: 0,
       
        });
    
        
      </script>
    <!--===============================================================================================-->
      <script src="vendor/tilt/tilt.jquery.min.js"></script>
      <script >
        $('.js-tilt').tilt({
          scale: 1.1
        })
      </script>
</head>

<body>

  
    <!--header portion started here-->
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <header>
            <img src="images/logo.png">
                <p>a platform where tradesmen find quality jobs online</p>

            </header>
            
            </div>
        </div>
    </div>
 <!--Header portion ended here-->
 

    <!--Ended CountDown-->
    
     <!--Main-body content and registeration form-->
    
    <div class="container-fluid">
    <div class="row">
        <!--main text here-->
        <div class="col-md-6">
        <div id="text-section">
            <p>Welcome to Trade Pages Australia – a platform where tradesmen find quality jobs and consumers connect with trust worthy and qualified tradesmen. Get registered today and enjoy three months membership free of charge.  Consistent supply of quality leads and goodbye to dry spells. Have your dedicated profile page and show your skills to your customers. A great opportunity to take your business to next level. </p>
            <div>
            <div id="Package_1">
            <image src="images/Package.png" alt="Package one"></image>
            <p style="text-align:left">
              Unlimited<br> Lead Access
                </p>
            </div>
                <div id="Package_2">
            <image src="images/Package01.png" alt="Package one"></image>
            <p style="text-align:left">
              $99 Per Month
                </p>
            </div>
                   <div id="Package_3">
            <image src="images/package02.png" alt="Package one"></image>
            <p style="text-align:left">
            Months Free
                </p>
            </div>
            </div>
            </div>
        </div>




         <!--form Here-->
        <div class ="col-md-6" id="Form_section">
            <fieldset>
            <form  method="POST" action="/" >
                <legend>
                    <h4>Create your business Account</h4>
            <div class="form-group">
                
      <input type="email"  class="form-control" id="email" placeholder="Enter email" name="P_Email"  required  >
            </div>
            <div class="form-group">
      
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="P_PASS" required>
    </div>
            <div>
            <button type="submit" class="btn btn-danger"id="account_btn">  Create Account</button>
            </div>
                    <hr>
                  </form>
                    <div>
                        <p>Already have account?</p>
                        <button type="button" class="btn btn-danger" id="login_btn" ><a href="/login"> login </a> </button>
            </div>
                    </legend>
              
                </fieldset>
           
            
        </div>
      
       
    <div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4">
        <div class="address">
            <img src="images/Footer_logo.png">
            <p id="footer-text">Welcome to Trade Pages Australia – a platform where tradesmen find quality jobs and consumers connect with trust worthy and qualified tradesmen. Get registered today and enjoy three months membership free of charge.  Consistent supply of quality leads and goodbye to dry spells. Have your dedicated profile page and show your skills to your customers. A great opportunity to take your business to next level. </p>
            </div>
        </div>
        <div class="col-md-4">
        <div class="Contact_us">
            <h2>Contact us</h2>
            <div>
                <div>
                <span><i class="fas fa-location-arrow"></i></span><span style="margin-left:5px;">Level 18, Collins St,Melboune 300 VIC</span>
                </div>
                <div>
                    <span><i class="fas fa-phone"></i></span><span>1300-89-65-28</span>
                </div>
                <div>
                <i class="fas fa-envelope"></i>
                 <span>info@tradepages.com</span>
                </div>
            </div>
            
            
            
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="follow_us">
            <h2>Follow Us</h2>
                <div class="Social_Icon"><i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i></div>
            
            </div>
        </div>
        <div id="copy_right">
        <div id="trapezoid">
            <p>Copyright 2018 <span>TRADEPAGES </span>All Right Reserved</p>
            </div>    
    </div>
        </div>
        </div>
        
    <!--Footer Ended here-->
    
    
            
    
    
    
    
    
    
    
    
    
  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
 
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/countdowntime/flipclock.min.js"></script>
    <script src="vendor/countdowntime/moment.min.js"></script>
    <script src="vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
</body>

</html>
